.card-container {
  display: flex;
  background-color: aquamarine;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 25px;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  cursor: pointer;
}

.card-container:hover {
  transform: scale(1.05);
}
